$light-gray-cyan:hsl(180, 52%, 96%);
$light-gray-cyan-secondary:hsl(180, 31%, 95%);
$dark-gray-cyan:hsl(180, 8%, 52%);
$very-dark-gray-cyan:hsl(180, 14%, 20%);
$white:#fff;
$black:#000;

$primary-color:hsl(180, 29%, 50%);